/* ROBOTO Y MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* POPPINS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;

  --red: #66212a;
  --orange: #DC5F00;
  --cBlack: #272829;
  --deepGray: #373A40;
  --lightBlack: #61677A;
  --gray: #BDC3C7;
  --lightGray: #D8D9DA;
  --white: #ECF0F1;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cBlack);
  overflow: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



#svg-header {
  clip-path: polygon(0 0, 0% 100%, 55% 50%);
  background-color: white;
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
}

#title-home {
  text-shadow: 0px 0px 3px black;
}