/* ROBOTO */
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Bold.woff2') format('woff2'); /* Corrección */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url('/fonts/Roboto-Black.woff2') format('woff2'); /* Corrección */
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

/* MONTSERRAT */
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Bold.woff2') format('woff2'); /* Corrección */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-Black.woff2') format('woff2');
  font-weight: 900; /* Corrección */
  font-style: normal;
  font-display: swap;
}

/* POPPINS */
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Bold.woff2') format('woff2'); /* Corrección */
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Poppins';
  src: url('/fonts/Poppins-Black.woff2') format('woff2');
  font-weight: 900; /* Corrección */
  font-style: normal;
  font-display: swap;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --montserrat: "Montserrat", sans-serif;
  --roboto: "Roboto", sans-serif;
  --poppins: "Poppins", sans-serif;

  --red: #66212a;
  --orange: #DC5F00;
  --cBlack: #272829;
  --deepGray: #373A40;
  --lightBlack: #61677A;
  --gray: #BDC3C7;
  --lightGray: #D8D9DA;
  --white: #ECF0F1;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #555;
}

::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #242424;
}

*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--cBlack);
  overflow: auto;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}



#svg-header {
  clip-path: polygon(0 0, 0% 100%, 55% 50%);
  background-color: white;
  width: 70%;
  height: 100%;
  position: absolute;
  left: 0;
}

#title-home {
  text-shadow: 0px 0px 3px black;
}