#user-menu {
    background-color: var(--white);
    position: absolute;
    top: 3rem;
    left: -7rem;
    width: 160px;
    height: 190px;
    border-radius: 20px;
}
#user-menu::before {
    content: '';
    position: absolute;
    border: 1px solid red;
    top: -0.6rem;
    right: 1.2rem;
    width: 25px;
    height: 25px;
    transform: rotate(45deg);
    background-color: var(--white);
}