
.fade-in-element {
    opacity: 1;
}

.fade-in-element:hover {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
}
